@media screen and (max-width: 900px) {
    nav {
        width: 75%;
    }


    nav ul {

        padding: 0px;
        background: none;
        margin: 0;
        z-index: 8;
        /* display:none; */
    }

    .nav-menu ul li {
        display: block;
        font-size: 10px;
        padding: 1%;
        height: 25px;
        background: none;
        margin-top: 0;
        padding: 1%;
        text-align: center;

    }


    .container {
        width: 100%;
        top: 10%;


    }

    .main {

        width: 100%;
        left: 0;

    }

    .about {

        flex-direction: column;
    }

    .box {
        flex-direction: column;
    }

    .box-1 {
        width: 100%;
    }

    .box-2 {
        width: 100%;
    }

    .row {
        flex-direction: column;
        width: 100%;

    }

    .col {
        width: 100%;
    }


}


@media screen and (max-width: 600px) {

    #wallpaper {
        background-position-x: -150px;
    }

    .text-container {
        top: 70%;
        right: 10%;
    }

    #about-title {
        text-align: center;
        margin-top: 15px;
        text-decoration: underline;
    }

    .row {
        margin-top: 10px;
    }

    .resume-box {
        flex-direction: column;
    }

    .resume-box1 {
        width: 96%;
        padding: 2%;

    }
}

@media screen and (max-width: 400px) {


    #wallpaper {
        background-position-x: 0px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-image: url('./media/images/proprofile.jpg');
        /* background-image:linear-gradient(rgba(0, 0, 0, 0.726),rgba(0, 0, 0, 0.438)) ,url("./media/wallpaper-1.jpeg"); */
        background-size: cover;
    }

    .text-container {
        top: 60%;
        right: 10%;
    }

}



/* Media Queries for Project */

@media screen and (max-width: 900px) {
    .container {
        width: 500px;
    }

    .projects .item {
        flex-direction: column;
    }

    .projects .item .preview {
        width: 100% !important;
        height: 100%;

    }

    .item iframe {
        height: 280px !important;
    }

    .container .slogan {
        font-size: 15px;
    }

    .container h1 {
        font-size: 30px;
    }

    .about .box-1 img {
        margin-left: 25%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 95%;
    }

    .item .title {
        font-size: 20px;
    }

    .item iframe {
        height: 50vw !important;
    }

}

@media screen and (max-width: 375px) {
    .btn a {
        font-size: 10px;
        border-width: 1px;
    }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}